<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 09-30-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
-->
<template>
    <div if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
    <div class="slds-scrollable--x">
        <div class="slds-m-around_x-small slds-m-bottom_large slds-box ">
            <div class="slds-grid slds-wrap">
                <div class="slds-col ">
                    <span>
                        <lightning-icon icon-name="standard:people" title="standard:people"></lightning-icon>
                    </span>
                    <span
                        class="slds-text-heading_small slds-m-left_x-small slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1"></span>
                    <b>Contacts({noOfContacts})</b></span>
                </div>

            </div>

            <div class="slds-m-top_medium slds-m-bottom_medium">
                <table class="slds-table slds-table_bordered slds-border_left slds-border_right slds-scrollable--x">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">Name</th>
                            <th class="" scope="col">Email</th>
                            <th class="" scope="col">Account Name</th>
                            <th class="" scope="col">Phone Number</th>

                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={data} for:item="item" for:index="index">
                            <tr key={item.Id}>
                                <td class="slds-truncate slds-cell-wrap" title="Name"><a href="javascript:void(0);"
                                        onclick={redirect} target="_blank" data-index={index}>{item.Name}</a></td>
                                <td>{item.Email}</td>
                                <td>{item.Account.Name}</td>
                                <td>{item.Phone}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>